.navbar {
    background-color: rgb(230, 199, 250);
    color: purple;    
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
}


.navbtn {
    padding: 20px;
    float: left;

}
.navbtn:hover {
    background-color: rgb(209, 155, 244);
    transition: 0.3s;
}
.mainsection{
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}

.mainsection{
    display: none;
}
body {
    margin: 0;
    height: 100%;
}

#home{
    display:flex;
}

.infobox{
    width: 60%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    margin-top: 40px;
    

}

.description{
    width: 50%;
    border: 1px solid black;

}

.info{
    justify-content: center;
    display: flex;

}

.photo-and-name{
    justify-content: center;
    width: 50%;
    text-align: center;
}

img{
    justify-content: center;
}

.experiencesnav{
    display: flex;
    width: 100%;
    justify-content: center;
}


.nav-rocker{
    justify-content: center;
    display: flex;
}

.subnavbtn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    float: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 60px;
    margin-right: 5px;
    margin-left: 5px;
}
