.navbar {
    background-color: rgb(230, 199, 250);
    color: purple;    
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
}


.navbtn {
    padding: 20px;
    float: left;

}
.navbtn:hover {
    background-color: rgb(209, 155, 244);
    transition: 0.3s;
}
.mainsection{
    background-color: aqua;
    border: 1px solid black;
    justify-content: center;
    width: 100%;
    display: flex;
}

.mainsection{
    display: none;
}
body {
    margin: 0;
    height: 100%;
}

#home{
    display:flex;
}

.infobox{
    width: 60%;
    
    border: 1px solid black;
    padding: 10px;
    margin-top: 40px;
    

}

.description{
    width: 50%;
    border: 1px solid black;

}

.info{
    justify-content: center;
    display: flex;

}

.photo-and-name{
    justify-content: center;
    width: 50%;
    text-align: center;
}

img{
    justify-content: center;
    width: auto;
}


.links{
    justify-content: center;
    text-align: center;
}

.icons {
    width: 30px; 
    height: 30px;
    padding: 10px;
}

.project-box{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    max-width: 60%;
}


.inside-project-box{
    float: left;
    display: flex;
    padding: 10px;
    text-align: left;
}

.experience-box{
    border: 1px solid black; 
    border-radius: 5px;
    text-align: center; 
    max-width: 60%; 
}

.experience-section{
    text-align: left;
    max-width: 100%;

}

#work{
    display: none;
}

.experience-header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;   
    margin-bottom: 0px;
    padding-bottom: 0px;


}

.experience-header p {
    font-weight: bold;
}
.experiencesnav{
    display: flex;
    max-width: 100%;
    justify-content: center;
    border: 1px solid black;
}


.nav-rocker{
    justify-content: center;
    display: flex;
}

.subnavbtn{
    padding-left: 20px;
    padding-right: 20px;
    
    text-align: center;
    float: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 60px;
    margin-right: 5px;
    margin-left: 5px;
}
