body {
    background-color: rgb(151, 58, 209);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.navbar {
    background-color:  #360f5a;
    color: rgb(230, 199, 250);    
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}


.navbtn {
    padding: 20px;
    float: left;

}
.navbtn:hover {
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;
}

.mainsection{
    justify-content: center;
    width: 100%;
    display: flex;
}

.mainsection{
    display: none;
}
body {
    margin: 0;
    height: 100%;
}

#home{
    display:flex;
}

.infobox{
    max-width: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 40px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    background-color: #d9b8ff;
}

.info{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;  
}


@media only screen and (max-width: 768px) { /* Adjust breakpoint as needed */
    .info {
      min-width: 100%;
      width: 100%; /* Ensure it takes full width */
      display: block;
    }
    .infobox{
        min-width: 100%;
        width: 100%;
    }

    .description{
        min-width: 100%;
        width: 100%;
    }

    .photo-and-name{
        min-width: 100%;
        width: 100%;
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
    }

    .project-box{
        min-width: 100%;
        width: 100%;
    }
    
    .experience{
        min-width: 100%;
        width: 100%;
    }

    .experience-box{
        min-width: 100%;
        width: 100%;
    }
  }

.photo-and-name{
    justify-content: center;
    text-align: center;
    position: relative;
    
}

img{
    justify-content: center;
    width: auto;
    border-radius: 5px;
    border: 1px solid black;
}

u:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}
.links{
    justify-content: center;
    text-align: center;
}

.icons {
    width: 30px; 
    height: 30px;
    padding: 10px;
}

.project-box{
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    max-width: 60%;
    margin: 40px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
  background-color: #d9b8ff;
  padding: 10px;
}


.inside-project-box{
    float: left;
    display: flex;
    padding: 10px;
    text-align: left;
}

.experience-box{
    border-left: 1px solid black; 
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center; 
    max-width: 60%; 
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
  background-color: #d9b8ff;
}

.experience{
    
    max-width: 100%; 
    padding: 10px; 
    border-radius: 15px; 
    
}

.experience-section{
    text-align: left;
    max-width: 100%;
    padding: 10px;
}

#work{
    display: none;
}

.experience-header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;   
    margin-bottom: 0px;
    padding-bottom: 0px;


}

.experience-header p {
    font-weight: bold;
}
.experiencesnav{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.nav-rocker{
    justify-content: center;
    display: flex;
}

.subnavbtn{
    padding-left: 30px;
    padding-right: 30px;
    
    text-align: center;
    float: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.subnavbtn:hover{
    text-decoration: underline;

}

.subnavbtn p:hover{
    cursor: pointer;
}

.modal-stuff{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-contents{
    background-color: #f6d2ff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
}

.modal-contents button {
    background-color: inherit;
    color: rgb(145, 0, 194);
    font-size: large;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px
}

.modal-contents button:hover{
    background-color: #ecb0fb;
    color: rgb(145, 0, 194);
    transition: 1s;
}

.project-text{
    padding: 5px;
}
